!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Who's dat ASS!!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    <script src="js/html5shiv.js"></script>
    :css
      .padding20 { padding:20px; }
  %body
    =yield


