!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Who's dat ASS!!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  %body
    =yield


