!!!
%html{:lang => "en"}
  %head
    = analytics_init if Rails.env.production?
    %meta{:charset => "utf-8"}
    %title Who's dat ASS!!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Who's dat ASS!!  

    =yield

    %footer
      <a href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.whosdatass.com&width=450&height=80&colorscheme=light&layout=standard&action=like&show_faces=true&send=true&appId=199415540215579"> 
