!!!
%html{:lang => "en"}
  %head
    = analytics_init if Rails.env.production?
    %meta{:charset => "utf-8"}
    %title Who's dat ASS!!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  %body
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=459771910797619";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    %nav.navbar.navbar-default{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Who's dat ASS!!  

      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li.active
            .fb-like{"data-href" => "http://whosdatass.com", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "false", :style => 'float:left; margin-top:15px'}
    =yield

